In [1]:
#QUESTION 1
A= [1,2,3,4,5,6]
B =[13,21,34]
#joining the the varible a and b together using the append() function
for x in B:
    A.append(x)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [2]:
#using the extend() method
A= [1,2,3,4,5,6]
B =[13,21,34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [3]:
#question 2
import numpy as np
np.identity(2,dtype=None)

array([[1., 0.],
       [0., 1.]])

In [3]:
#question 3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
fuel_ferc=pd.read_csv('fuel_ferc1.csv')
fuel_ferc.head()
lowest_cost_per_burned = fuel_ferc['fuel_cost_per_unit_burned'].min()
lowest_cost_per_burned

-276.08

In [6]:
#question 4
#solving for the standard deviation
fuel_ferc_std = fuel_ferc['fuel_mmbtu_per_unit'].std()
fuel_ferc_std

10.600220307806886

In [17]:
#question 4
#solving for the 75th percentile
fuel_ferc_percentile = np.percentile(fuel_ferc['fuel_mmbtu_per_unit'],75)
fuel_ferc_percentile

17.006

In [21]:
#question 5
#solving for the skewness
fuel_ferc_skew = fuel_ferc['fuel_qty_burned'].skew()
fuel_ferc_skew

15.851495469109503

In [24]:
#solving for kurtosis
fuel_ferc_kur = fuel_ferc['fuel_qty_burned'].kurtosis()
fuel_ferc_kur

651.3694501337732

skewness:15.85, kurtosis:651.37

In [14]:
#question 6
fuel_ferc.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
#solving for the percentage vcalue 
percent = 180/29523*100
percent

0.609694136774718

Feature:fuel_unit, Total:180, percent:61%

In [15]:
fuel_ferc.shape

(29523, 11)

In [20]:
#question 7
fuel_ferc.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

since fuel unit is the column with the missing value, having object has its data type we can conclude that the data category fall under categorical data and best to use mean imputation to fill in the missing value

In [29]:
#question 8
corr = fuel_ferc.corr()
print(corr['fuel_cost_per_unit_burned'].sort_values(ascending=False)[:7],'\n')
print(corr['fuel_cost_per_unit_burned'].sort_values(ascending=False)[-7:])

fuel_cost_per_unit_burned       1.000000
report_year                     0.013599
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
fuel_mmbtu_per_unit            -0.010034
fuel_qty_burned                -0.018535
utility_id_ferc1               -0.037863
Name: fuel_cost_per_unit_burned, dtype: float64

fuel_cost_per_unit_burned       1.000000
report_year                     0.013599
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
fuel_mmbtu_per_unit            -0.010034
fuel_qty_burned                -0.018535
utility_id_ferc1               -0.037863
Name: fuel_cost_per_unit_burned, dtype: float64

In [26]:
#question 9
#total fuel per unit burned in 1994 for coal
fuel_burned_ = fuel_ferc[['fuel_cost_per_unit_burned']+['fuel_type_code_pudl']+['report_year']]
fuel_burned_

       fuel_cost_per_unit_burned fuel_type_code_pudl  report_year
0                          18.59                coal         1994
1                          18.58                coal         1994
2                          39.72                coal         1994
3                          47.21                coal         1994
4                           2.77                 gas         1994
...                          ...                 ...          ...
29518                       4.78                 gas         2018
29519                       3.65                 gas         2018
29520                       4.77                 gas         2018
29521                       3.06                coal         2018
29522                       0.00                 gas         2018

[29523 rows x 3 columns]

In [20]:
fuel_ferc['fuel_type_code_pudl'].str.find('coal').sum()

-20976

In [25]:
#question 10
fuel_ferc.nlargest(5,['fuel_cost_per_unit_delivered'])

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
3564,f1_fuel_1997_12_9_0_8,9,1997,peach bt 2&3,nuclear,gramsU,210474.0,0.000065,37.847,7964521.0,0.578
3244,f1_fuel_1996_12_9_0_8,9,1996,peach bt 2&3,nuclear,gramsU,211407.0,0.000065,36.865,7793482.0,0.145
3565,f1_fuel_1997_12_9_0_11,9,1997,salem 1&2,nuclear,gramsU,36919.0,0.000056,61.100,2255688.0,1.087
3245,f1_fuel_1996_12_9_0_14,9,1996,hope creek 1,nuclear,gramsU,58795.0,0.000065,35.964,2114508.0,0.095
3566,f1_fuel_1997_12_9_0_14,9,1997,hope creek 1,nuclear,gramsU,52526.0,0.000066,39.660,1942979.0,0.560

1997 has the year with the highest fuel cost per unit delivered